<div id="<%= dom_id book %>">
  <div>
    <strong>Title:</strong>
    <%= book.title %>
  </div>

  <div>
    <strong>Author:</strong>
    <%= book.author %>
  </div>

  <div>
    <strong>Genre:</strong>
    <%= book.genre %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= book.description %>
  </div>

</div>
