<div id="<%= dom_id review %>">
  <div>
    <strong>Content:</strong>
    <%= review.content %>
  </div>

  <div>
    <strong>Rating:</strong>
    <%= review.rating %>
  </div>

  <div>
    <strong>Book:</strong>
    <%= review.book_id %>
  </div>

  <div>
    <strong>User:</strong>
    <%= review.user_id %>
  </div>

</div>
